body {
  background-color: #808080;
}

.title {
  color: lightsteelblue;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 20px 20px 0px 15px;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  text-shadow: 1px 1px lightsteelblue;
}

.title-box {
  border-bottom: lightsteelblue 2px solid;
}

#img {
  height: 540px;
  float: left;
  margin: 20px 20px 10px 15px;
  border: #3F4448 2px solid;
  box-shadow: 4px 4px 4px lightsteelblue;
}

#about {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;
  box-shadow: 6px 6px 6px black;
}

.name {
  color: lightsteelblue;
}

#back {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;
  box-shadow: 6px 6px 6px black;
}

#work {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;  
  box-shadow: 6px 6px 6px black;
}

#hobs {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;
  box-shadow: 6px 6px 6px black;
}

body div#hobs div p {
  color:  lightsteelblue;
}