body {
  background-color: #808080;
}

.title {
  color: lightsteelblue;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 20px 20px 0px 15px;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  text-shadow: 1px 1px lightsteelblue;
}

.title-box {
  border-bottom: lightsteelblue 2px solid;
}

#img {
  height: 540px;
  float: left;
  margin: 20px 20px 10px 15px;
  border: #3F4448 2px solid;
  box-shadow: 4px 4px 4px lightsteelblue;
}

#about {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;
  box-shadow: 6px 6px 6px black;
}

.name {
  color: lightsteelblue;
}

#back {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;
  box-shadow: 6px 6px 6px black;
}

#work {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;  
  box-shadow: 6px 6px 6px black;
}

#hobs {
  background-color: #808080;
  font-family: sans-serif;
  margin: 20px 20px 10px 15px;
  box-shadow: 6px 6px 6px black;
}

body div#hobs div p {
  color:  lightsteelblue;
}

/* -- Media Queries -- */
@media screen and (max-width: 499px) and (min-width: 0px) {
  .title {
      font-size: 20px;
      margin: 1px 1px 1px 3px;
  }

  .title-box {
    border-bottom: lightsteelblue 1px solid;
    margin: 10px 10px 10px 1px;
  }

  h2 {
    text-shadow: .5px .5px lightsteelblue;
  }

  #img {
    height: 180px;
    margin: 1px 5px 2px 3px;
    border: #3F4448 1px solid;
    box-shadow: 1px 1px 1px lightsteelblue;
  }

  #about {
    background-color: #808080;
    font-family: sans-serif;
    font-size: 5px;
    margin: 5px 5px 2.5px 10px;
    padding: 1px 1px 1px 1px;
    box-shadow: 2px 2px 2px black;
  }
  body div#about h2 {
    margin: 1px 1px 5px 1px;
    font-size: 10px;
  }
  .card-body {
    padding: 1px 5px 5px 5px;
  }

  #back {
    background-color: #808080;
    font-family: sans-serif;
    font-size: 5px;
    margin: 5px 5px 2.5px 10px;
    padding: 1px 1px 1px 1px;
    box-shadow: 2px 2px 2px black;
  }

  body div#back h2 {
    margin: 1px 1px 5px 1px;
    font-size: 10px;
  }

  #work {
    background-color: #808080;
    font-family: sans-serif;
    font-size: 5px;
    margin: 5px 5px 2.5px 3px;
    padding: 1px 1px 1px 1px;
    box-shadow: 2px 2px 2px black;
  }

  body div#work h2 {
    margin: 1px 1px 5px 1px;
    font-size: 10px;
  }

  body div#work ul {
    padding-inline-start: 15px;
  }

  #hobs {
    background-color: #808080;
    font-family: sans-serif;
    font-size: 5px;
    margin: 5px 5px 2.5px 3px;
    padding: 1px 1px 1px 1px;
    box-shadow: 2px 2px 2px black;
  }

  body div#hobs h2 {
    margin: 1px 1px 5px 1px;
    font-size: 10px;
  }

  body div#hobs p {
    margin: 1px 1px 1px 1px;
    font-size: 5px;
  }

  body div#hobs ol {
    padding-inline-start: 10px;
  }
}